body{
    color:black;
}

h1{
    font-size: 100px;
    font-family: Impact, Charcoal, sans-serif;
    margin: 15px;
}

h2{
    font-family: Verdana, Geneva, sans-serif;
    margin: 15px;
}

p{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 15px;
}
#albums-h1
{
    font-size: 65px;
    font-family: Impact, Charcoal, sans-serif;
    margin: 100px 15px 50px 15px;
}

.album-title{
    margin: 50px 0px 10px 10px;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif
}
.image
{
    width: 500px;
    height:500px;
    margin-bottom: 200px;
}
.album-description
{
    margin: 50px 0px 10px 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif
}


ol{
    list-style: none
}

p